<%@ Master Language="C#" AutoEventWireup="true" CodeFile="BeforeLogin.master.cs" Inherits="BeforeLogin" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
